<md-card>
   <md-card-header>
    <md-card-title>{{ predata.user_id }}</md-card-title>
    <md-card-subtitle>Bio</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      {{ pre_data.bio }}
    </p>
  </md-card-content>
  <hr>

  <table class="full-width" cellspacing="0">
  <tr>
    <td>
      <md-select placeholder="Options">
        <md-option *ngFor="let target of pre_data.targets" [value]="target">
          {{target}}
        </md-option>
      </md-select>
    </td>
    <td>
      <md-input-container class="full-width">
        <input mdInput placeholder="Other">
      </md-input-container>
    </td>
    <td>
    <button md-raised-button>Save</button>
    </td>
  </tr>
  </table>
</md-card>
