md-card {
	margin: auto;
	margin-top:90px;
	max-width:400px;
}

.full-width {
  width: 100%;
}
.center {
	text-align: center
}

.bold {
	font-weight: 600;
}

.small {
	width: 20px;
	height: 20px;
	margin:10px;
}

.inline {
	display: flex
}